@media screen {
  /* ===== Header wrapper ===== */

  .page-header {
    border-bottom: 1px solid rgb(231, 233, 252);
  }

  .page-header .container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /* ===== Logo ===== */

  .header-logo {
    margin-right: 76px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.333;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    margin: 0 auto;
  }
  .page-header nav,
  .page-header address {
    display: none;
  }
  .header-logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header-nav {
    display: none;
  }
  .header-address {
    display: none;
  }
  .header-mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  .header-mobile-menu-icon {
    fill: #2e2f42;
  }
}

@media screen and (min-width: 768px) {
  .page-header .container {
    max-width: 768px;
  }

  .header-mobile-menu {
    display: none;
  }
  .header-logo {
    margin-right: 120px;
  }
  .header-nav {
    display: flex;
    gap: 40px;
  }
  .header-nav-item {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }

  .header-nav-item-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-item-link:hover,
  .header-nav-item-link:focus {
    color: #404bbf;
  }

  .header-nav-item-link.active {
    color: #404bbf;
  }

  .header-nav-item-link.active::after {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: #404bbf;
  }

  /* ===== Contacts ===== */

  .header-address {
    margin-left: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address-item {
    font-size: 12px;
    color: #434455;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .header-address-item-link {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-item-link:hover,
  .header-address-item-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .page-header .container {
    max-width: 1158px;
  }
  /* .page-header .container {
    max-width: 1440px;
    padding-left: 141px;
    padding-right: 141px;
  } */

  .header-logo {
    margin-right: 76px;
  }
  .header-address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .header-address-item {
    letter-spacing: 0.02em;
  }
  .header-address-item-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
