@media screen {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
      transform 250ms linear,
      opacity 250ms linear,
      visibility 250ms linear;
  }
  .mobile-menu.is-open {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 72px 16px 40px 16px;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    padding: 8px;
    border-radius: 24px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: rgb(231, 233, 252);
    cursor: pointer;
    transition:
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn-svg {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    border-color: #404bbf;
    background-color: #404bbf;
  }

  .mobile-menu-close-btn:hover .mobile-menu-close-btn-svg,
  .mobile-menu-close-btn:focus .mobile-menu-close-btn-svg {
    fill: #fff;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mobile-nav-item-link {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-nav-item-link:hover,
  .mobile-nav-item-link:focus {
    color: #404bbf;
  }
  .mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }
  .mobile-address-item-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-address-item-link--phone {
    color: #4d5ae5;
  }
  .mobile-address-item-link--email {
    color: #434455;
  }
  .mobile-address-item-link:hover,
  .mobile-address-item-link:focus {
    color: #4d5ae5;
  }

  .mobile-menu-socials-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: rgb(244, 244, 253);
  }

  .mobile-menu-socials-list-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 40px;
    background-color: rgb(77, 90, 229);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-socials-list-item-link:hover,
  .mobile-menu-socials-list-item-link:focus {
    background-color: rgb(64, 75, 191);
  }
}
